fastapi
uvicorn
sqlalchemy
psycopg2-binary 
email-validator==2.1.0
pydantic 
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
tensorflow
numpy
scipy
mne
pytest
pylint 
flake8
alembic
httpx
opencv-python
scikit-learn
